body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 0px 8px #575757;
}
.logo {
    width: 100px;
}
.nav-items {
    
}
.nav-items ul {
    display: flex;
    list-style: none;
}
.nav-items ul li {
    padding: 10px;
    margin: 10px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.search {
    margin: 10px;
}
.res-card {
  width: 250px;
  /* height: 300px;   */
  border: 1px solid #000;
  padding: 8px;
  background-color: #f0f0f0;
  margin: 8px;
  transition: 0.4s;
}
.res-card img {
  width: 100%;
}
.res-card:hover {
    transition: 0.4s;
    box-shadow: 0px 0px 8px #575757;
}